@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");

body {
    margin: 0;
    background-color: snow;
    font-family: rubik;
}

.container * {
    display: block;
}

.header {
    width: 100%;
    text-align: center;
}

.row {
    display: flex;
    width: 100%;
}

.row::after {
    display: block;
    clear: both;
    content: "";
}

.col-1 {width:8.33%}
.col-2 {width:16.66%}
.col-3 {width:25%}
.col-4 {width:33.33%}
.col-5 {width:41.66%}
.col-6 {width:50%}
.col-7 {width:58.33%}
.col-8 {width:68.66%}
.col-9 {width:75%}
.col-10 {width:83.33%}
.col-11 {width:91.66%}
.col-12 {width:100%}

.container * {
    box-sizing: border-box;
}

[class*="col-"]{
    border: 2px solid red;
    padding: 15px;
}

/* Footer */

.mrfooter {
   margin-left: 8px;
   margin-right: 8px;
   font-size: 12px;
   font-weight: bold;
}

.space {
    margin-top: 1024px;
}

.fbuttons * {
    display: inline;
}

.fmsg, .fbuttons {
    display: block;
}

/* Navbar */

nav *, nav {
    padding: 0;
    margin: 0;
    z-index: 2;
}

nav * {
    overflow: hidden;
}

nav {
    overflow-y: visible;
    height: 48px;
    background-color: rgb(216, 213, 213);
}

.left {
    width: 100%;
    float: left;
}

.left * {
    display: inline-block;
    padding-top: 14px;
    height: 34px;
}

.nbutton {
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 2px;
    text-decoration: none;
    color: inherit;
}

.nbutton:hover {
    background-color: rgb(76, 138, 173);
}

.drop {
    float: right;
}

nav * {
    display: inline;
    vertical-align: middle;
}

.left * {
    text-align: center;
}

.title {
    margin-right: 24px;
    font-weight: bold;
}

.logo img, .drop img {
    display: inline-block;
    height: 48px; 
    padding-top: 0px; 
}

.logo, .drop {
    height: 48px; 
    display: inline-block;
    padding-top: 0px; 
}

.drop {
    display: none;
}

/* Mobile */
@media screen and (max-aspect-ratio: 1/1){
    .nbutton, .title {
        display: none;
    }
    .logo img, .drop img, .mnavbar .left .nbutton {
        background-color: rgb(216, 213, 213);;
        border-radius: 4px;
    }
    .logo img, .drop img, .logo, .drop, .nbutton {
        height: 48px;
        font-weight: bold;
        font-size: 24px;
    }
    .nbutton {
        padding-top: 10px;
        height: 38px;
    }
    nav {
        background-color: transparent;
    }
    .mnavbar .left .nbutton, .mnavbar .left {
        display: block;
        width: 128px;
        overflow: inherit;
    }
    .mnavbar .left {
        width: 100%;
    }
    .drop {
        display: inline-block;
    }
    .mnavbar .left .nbutton {
        margin-top: 4px;
        width: 95%;
        margin: 0;
        margin-top: 4px;
        margin-left: 2.5%;
        padding-left: 0;
        padding-right: 0;
        float: none;
    }
}